<!doctype html>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
  <p>
    <a href="{{ url_for('showimage') }}">Show the graph</a>
  </p>
  {% else %}
  <h1>Hello World!</h1>
  <form action="{{ url_for('index') }}" method=post class=index>
    <dl>
      <dt>Title:
	<dd><input type=text size=30 name=title>
	  <dt>
	    <dd><input type=submit value=Login>
    </dl>
     <p>
       <a href="{{ url_for('generateimage') }}">Generate a graph without renaming title</a>
     </p>
  </form>
 
  {% endif %}
